<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>954129132822-ahkv98ku1eskebnebuemr05409fehko5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954129132822-ahkv98ku1eskebnebuemr05409fehko5</string>
	<key>API_KEY</key>
	<string>AIzaSyBTu5wyT5iVbUY2N5_sKTrsE-l_41t9EFo</string>
	<key>GCM_SENDER_ID</key>
	<string>954129132822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.satishboggarapu.apps.GoogleSignInSampleProject</string>
	<key>PROJECT_ID</key>
	<string>signinsampleproject</string>
	<key>STORAGE_BUCKET</key>
	<string>signinsampleproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954129132822:ios:b4c5021119d8f729</string>
	<key>DATABASE_URL</key>
	<string>https://signinsampleproject.firebaseio.com</string>
</dict>
</plist>